<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sunucu Oluştur</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1>Sunucu Oluştur</h1>
    <form action="/create-server" method="POST" class="form">
      <button type="submit" class="btn btn-success">Sunucu Oluştur</button>
    </form>
    
    <a href="/" class="btn btn-secondary">Geri Dön</a>
  </div>
</body>
</html>
